@use '../../styles/colors' as *;
@use '../../styles/functions' as *;
.logo {
	margin-right: rem(10);
	@media (min-width: rem(768)) {
		margin-right: rem(20);
	}
	& img {
		padding: rem(15);
		&:hover {
			opacity: .6;
		}
	}
}
