@use '../../styles/colors' as *;
@use '../../styles/functions' as *;
@use '../../styles/components' as *;
.mainLink {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	gap: rem(10);

	padding: rem(12) rem(16);
	height: 44px;

	color: $primary-color;
	background-color: $secondary-color;

	font-size: rem(15);
	font-weight: 500;

	border-radius: 100px;
	transition: background-color 0.3s, color 0.3s, border-color 0.3s;
	& svg g path {
		transition: stroke 0.3s;
	}
	& svg {
		transition: transform 0.3s;
	}
	&:hover {
		background-color: $primary-color;
		color: $secondary-color;
		& svg g path {
			stroke: $secondary-color;
		}
		& svg {
			transform: translate(40%, -60%);
		}
	}
}

@media (min-width: rem(768)) {
	.mainLink {
		height: 44px;
	}
}
