@use '../../styles/colors' as *;
@use '../../styles/functions' as *;
@use '../../styles/components' as *;

.titleSection {
	position: relative;
	display: inline-block;
	& svg {
		position: absolute;
		top: 15px;
		right: -35px;
		transition: transform 0.3s;
		&:hover {
			transform: rotate(20deg);
		}
		@media(min-width: rem(576)) {
			right: unset;
			left: -25px;
		}
	}
	& p {
		font-size: rem(18);
		font-family: 'Halimun', 'Cardo', 'Lato', sans-serif;
		@media (min-width: rem(576)) {
			font-size: rem(20);
		}
	}
	& h2,
	& h1 {
		font-family: 'Cardo', 'Lato', sans-serif;
		color: $text-color;
		// @media (min-width: rem(420)) {
		// 	font-size: rem(26);
		// }
		// @media (min-width: rem(480)) {
		// 	font-size: rem(28);
		// }
		// @media (min-width: rem(576)) {
		// 	font-size: rem(34);
		// }
		// @media (min-width: rem(768)) {
		// 	font-size: rem(40);
		// }
		// @media (min-width: rem(992)) {
		// 	font-size: rem(48);
		// }
	}
}
