@use '../../styles/colors' as *;
@use '../../styles/functions' as *;
@use '../../styles/components' as *;

.footer {
	position: relative;
	margin-top: auto;
	color: $secondary-color;
	z-index: 0;
	// &::before {
	// 	content: '';
	// 	position: absolute;
	// 	width: 600px;
	// 	height: 400px;
	// 	background: $bg-gradient;
	// 	filter: blur(240px);
	// 	z-index: -1;
	// 	left: 50%;
	// 	top: 50%;
	// 	transform: translate(-50%, -50%);
	// 	pointer-events: none;
	// 	z-index: 10;
	// }
	&__inner {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-direction: column;
		gap: rem(20);
		padding: 2em;
		border-top: 1px solid $border-color;
		&__logoBox {
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			gap: rem(5);
			a {
				margin-right: 0;
			}
		}
		&__navBox {
			display: grid;
			gap: rem(14);
			nav ul {
				flex-wrap: wrap;
				row-gap: rem(5);
			}
		}
		& nav {
			display: flex;
			margin-left: 0;
		}
	}
}
