@use '../../styles/colors' as *;
@use '../../styles/functions' as *;

.socials {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: rem(6);
	& a {
		padding: rem(10);
		background-color: $secondary-color;
		border-radius: rem(50);
		width: rem(44);
		height: rem(28);
		transition: background-color 0.3s, color 0.3s;
		&:hover {
			background-color: $primary-color;
			color: $secondary-color;
			& svg {
				fill: $secondary-color;
				stroke: $secondary-color;
			}
		}
	}
}
@media (min-width: rem(576)) {
	.socials__heroSection {
		position: relative;
		&::after {
			position: absolute;
			content: '';
			right: 0;
			height: 1px;
			width: 65%;
			background-color: rgba(255, 255, 255, 0.2);
		}
	}
}
@media (min-width: rem(768)) {
	.socials__heroSection {
		flex-direction: column;
		height: 100%;
		justify-content: center;
		&::after,
		&::before {
			position: absolute;
			content: '';
			width: 1px;
			background-color: rgba(255, 255, 255, 0.2);
			height: 20%;
		}
		&::after {
			top: 0;
            right: unset;
		}
		&::before {
			bottom: 0;
		}
	}
}

@media (min-width: rem(1200)) {
	.socials__heroSection {
		&::after,
		&::before {
			height: 32%;
		}
	}
}
