@use '../../styles/colors' as *;
@use '../../styles/functions' as *;
@use '../../styles/components' as *;

.techSlider {
	& div {
		img {
			object-fit: contain;
			width: 100%;
			height: 100%;
		}
	}
}
