@use '../../../../styles/colors' as *;
@use '../../../../styles/functions' as *;
@use '../../../../styles/components' as *;
@use '../../../../styles/variables' as *;

.badgesShopFilters {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: rem(10);
	flex-wrap: wrap;
	align-self: flex-start;
	margin-top: rem(15);
	& button {
		border: 1px solid $additional;
		height: 40px;
		padding: rem(10) rem(20);
	}
}
@media (min-width: rem(768)) {
	.badgesShopFilters {
		justify-content: flex-start;
	}
}
