// main colors
$primary-color: #3C645A;
$secondary-color: #fff;
$third-color: #557770;
$fourth-color: #29443E;
$fifth-color: rgba(255, 255, 255, 0.8);
$body-color: #FAF9F5;

//additional
$additional-color: gold;
$nav-dropdown-icon: #499652;

//text
$text-color: #282828cc;
$heading-color: #4F5150;
$mobile-nav-link-text: #29443E;

//bg
$nav-bg: #29443E;
$footer-bg: #3C645A;
$page-bg: #ECF4F2;
$card-bg: #FAF9F5;

//shop
$price-shop-color: #45ABD8;