@use '../../styles/colors' as *;
@use '../../styles/functions' as *;
@use '../../styles/components' as *;

.sectionContent {
	position: relative;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	flex-direction: column;
	gap: rem(30);
	border-top: 1px solid $border-color;
	padding-top: rem(15);
	h2 {
		transition: letter-spacing 0.3s;
		&:hover {
			letter-spacing: 1px;
		}
	}
	&__myWork {
		border-top: none;
		.sectionContent__subTitle {
			transform: translateY(-55%);
		}
	}
	&__itemProject {
		display: flex;
		flex-direction: column;
		gap: rem(20);
		border-top: 1px solid $border-color;
		padding-top: rem(30);
		.sectionContent__description {
			padding-left: 0;
			border-left: none;
			align-self: flex-start;
		}
	}
	&__description {
		display: grid;
		place-items: flex-start;
		grid-template-columns: 1fr;
		gap: rem(20);

		border-left: 1px solid $border-color;
		padding-left: rem(15);
		width: 100%;
	}
	&__image {
		width: 100%;
		height: 100%;
		border-left: 1px solid $border-color;
		padding-left: rem(15);
		img {
			border-radius: rem(20);
			transition: scale 0.3s, border-radius 0.3s;
			&:hover {
				scale: 0.95;
				border-radius: 0;
			}
		}
	}
	&__subTitle {
		position: absolute;
		top: 0;
		right: 0;

		display: flex;
		align-items: center;
		justify-content: center;
		gap: rem(4);

		font-size: rem(15);
		font-weight: bold;

		transform: translate(0, -125%);

		& span,
		svg {
			transition: transform 0.3s;
		}
		&:hover {
			& span {
				transform: rotate(12deg) translate(5px, -5px);
			}
			& svg {
				transform: rotate(-12deg) translate(-5px, -5px);
			}
		}
	}
	h2 {
		font-weight: bold;
	}
}

@media (min-width: rem(992)) {
	.sectionContent {
		flex-direction: row;
		justify-content: space-between;
		padding-top: rem(30);
		&__myWork {
			display: grid;
			grid-template-columns: 1fr;
			.sectionContent__subTitle {
				transform: translateY(10%);
			}
		}
		&__description {
			max-width: rem(601);
			width: 100%;
			padding-left: rem(30);
		}
		&__itemProject {
			align-items: center;
			flex-direction: row;
			justify-content: space-between;
			gap: rem(20);
			&:nth-child(odd) {
				flex-direction: row-reverse;
				padding-top: rem(30);

				.sectionContent__image {
					padding-left: 0;
					border-left: none;
				}
				.sectionContent__description {
					padding-left: rem(30);
					border-left: 1px solid $border-color;
				}
			}
		}
		&__image {
			max-width: rem(458);
			max-height: rem(269);
			padding-left: rem(30);
		}
	}
}

@media (min-width: rem(1200)) {
	.sectionContent {
		&__description {
			max-width: rem(801);
		}
	}
}
