@use '../../styles/colors' as *;
@use '../../styles/functions' as *;
@use '../../styles/components' as *;

.sectionContent {
	position: relative;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	flex-direction: column;
	gap: rem(30);
	padding-top: rem(15);
	h2 {
		transition: letter-spacing 0.3s;
		&:hover {
			letter-spacing: 1px;
		}
	}
	&__myWork {
		border-top: none;
		.sectionContent__subTitle {
			transform: translateY(-55%);
		}
	}
	&__itemProject {
		display: flex;
		flex-direction: column;
		gap: rem(20);
		padding-top: rem(30);
		.sectionContent__description {
			padding-left: 0;
			border-left: none;
		}
	}
	&__description {
		display: flex;
		flex-direction: column;
		gap: rem(20);

		padding-left: rem(15);
		width: 100%;
	}
	&__image {
		align-self: center;
		width: 100%;
		height: 100%;
		// border-left: 1px solid $border-color;
		padding-left: rem(15);
		img {
			border-radius: rem(20);
			transition: scale 0.3s, border-radius 0.3s;
			&:hover {
				scale: 0.95;
				border-radius: 0;
			}
		}
	}
	&__subTitle {
		position: absolute;
		top: 0;
		right: 0;

		display: flex;
		align-items: center;
		justify-content: center;
		gap: rem(4);

		font-size: rem(15);
		font-weight: bold;

		transform: translate(0, -125%);

		& span,
		svg {
			transition: transform 0.3s;
		}
		&:hover {
			& span {
				transform: rotate(12deg) translate(5px, -5px);
			}
			& svg {
				transform: rotate(-12deg) translate(-5px, -5px);
			}
		}
	}
	&__seeAllProjects {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: rem(10);
		margin-top: rem(25);
		width: 100%;
		hr {
			flex: 1;
			min-width: 0;
			margin: 0;
			border: 0;
			border-top: 1px solid rgba(223, 223, 223, 0.15);
		}
		a {
			flex: 0 0 auto;

			font-size: rem(14);
			background-color: transparent;
			color: rgba(223, 223, 223, 0.15);

			transform: skewX(-10deg);
			transform-origin: left center;
			white-space: nowrap;
			transition: color 0.3s, background-color 0.3s, letter-spacing 0.3s, transform 0.3s;
			&:hover {
				transform: skewX(0deg);
				color: rgba(223, 223, 223, 0.8);
				background-color: transparent;
				letter-spacing: 1px;
			}
			svg g path {
				stroke: rgba(223, 223, 223, 0.15);
			}
		}
	}
	h2 {
		font-weight: bold;
	}
}

@media (min-width: rem(992)) {
	.sectionContent {
		flex-direction: row;
		justify-content: space-between;
		padding-top: rem(30);
		&__myWork {
			display: grid;
			grid-template-columns: 1fr;
			.sectionContent__subTitle {
				transform: translateY(10%);
			}
		}
		&__description {
			max-width: rem(601);
			width: 100%;
			padding-left: rem(30);
		}
		&__itemProject {
			// align-items: center;
			align-items: stretch;
			flex-direction: row;
			justify-content: space-between;
			gap: rem(20);
		}
		article {
			&:nth-child(odd) {
					.sectionContent__itemProject {
					flex-direction: row-reverse;
					padding-top: rem(30);

					.sectionContent__image {
						padding-left: 0;
						border-left: none;
					}
					.sectionContent__description {
						padding-left: rem(30);
					}
				}
				&:nth-child(even) {
					.sectionContent__image {
						padding-left: 0;
						border-left: none;
					}
					.sectionContent__description {
						padding-right: rem(30);
					}
				}
			}
		}
		&__image {
			max-width: rem(458);
			max-height: rem(269);
			padding-left: rem(30);
		}
	}
}

@media (min-width: rem(1200)) {
	.sectionContent {
		&__description {
			max-width: rem(801);
		}
	}
}
