@use '../../styles/colors' as *;
@use '../../styles/functions' as *;
@use '../../styles/components' as *;

.boxText {
	&--text {
		max-width: rem(620);
		margin-bottom: rem(16);
		color: $text-color;
		white-space: pre-wrap;
	}
}
@media (min-width: rem(1200)) {
	.boxText {
		width: 50%;
	}
}

@media (min-width: rem(1400)) {
	.boxText {
		width: auto;
	}
}
