@use '../../../../styles/colors' as *;
@use '../../../../styles/functions' as *;
@use '../../../../styles/components' as *;
@use '../../../../styles/variables' as *;

.finalizingThePucharse {
	&__customerDataContainerDesktop {
		display: none;
		@media (min-width: rem(1200)) {
			display: contents;
		}
	}
	&__form {
		display: grid;
		gap: rem(20);
		padding: 2em 1em;
		transition: height 0.3s ease-in-out;
		@media (min-width: rem(480)) {
			padding: 2em;
		}
		@media (min-width: rem(576)) {
			padding: 4em 2em;
		}
	}
	&__formUp {
		display: flex;
		flex-direction: column;
		gap: rem(20);
		&-left {
			display: grid;
			gap: rem(20);
		}
	}
	&__containerCustomerData {
		position: relative;

		display: grid;
		gap: rem(20);

		overflow: hidden;

		& h2 {
			margin-bottom: 0;
		}

		& p {
			font-size: rem(14);
		}
	}
	&__requireStatement {
		font-size: rem(14);
		font-weight: 600;
		color: #3a3a3a99;
		font-family: 'quicksand', 'open sans', sans-serif;
	}
	&__boxCustomerData {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;
		gap: rem(20);
		&--delivery {
			flex-direction: column;
			align-items: normal;
			justify-content: center;
			transition: all 0.3s ease-in-out;
		}

		&-checkbox {
			margin-top: 0;
			& a {
				display: inline-block;
				background: linear-gradient(96deg, #41a75b 0.03%, #27703a 73.93%);
				background-clip: text;
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
				border-bottom: 1px solid transparent;
				&:hover {
					border-bottom: 1px solid #41a75b;
				}
			}
		}
		.finalizingThePucharse__boxCustomerData-checkbox {
			margin-top: 0;
		}
			&-item {
				position: relative;
				width: 100%;
				z-index: 0;
				&--delivery {
					&-motion {
					display: grid;
					gap: rem(20);
					}
				}
				& label {
					position: absolute;
					top: -12px;
					left: 25px;

					font-family: 'quicksand', 'open sans', sans-serif;
					font-size: rem(14);
					font-weight: 600;
					color: $primary-color;
					background-color: $secondary-color;
				padding: rem(2) rem(6);

				border-radius: 100px;

				z-index: 10;
			}
			& input,
			& textarea {
				border: 1px solid #4bb5e3;
				border-radius: 100px;
				width: 100%;
				padding: rem(16) rem(30);
				font-size: rem(14);
			}
			& textarea {
				border-radius: 30px;
				min-height: rem(96);
			}
		}
	}
	&__boxCustomerDataMobile {
		display: grid;
		grid-template-columns: 1fr;
		gap: rem(20);
		.finalizingThePucharse__boxCustomerData-checkbox {
			margin-top: 0;
			margin-bottom: rem(20);
		}
	}
	&__progressBar {
		height: rem(12);
		background-color: $body-color;
		margin-bottom: rem(20);
		border-radius: 100px;
		overflow: hidden;
		@media (min-width: rem(576)) {
			margin-bottom: rem(40);
		}
		& > div {
			height: 100%;
			background-color: $additional-color;
		}
	}
		&__btnContainer {
			display: flex;
			gap: rem(20);
			align-items: center;
			justify-content: space-between;
			margin-top: rem(20);
			& button {
				border: 1px solid $primary-color;

			&:first-child {
				& svg {
					transform: rotate(180deg);
				}
			}
		}
	}
	&__summary {
		.finalizingThePucharse__summary-box {
			flex-direction: column;
			align-items: flex-start;
			@media (min-width: rem(414)) {
				flex-direction: row;
				align-items: center;
			}
		}
	}
	&__totalPriceBox {
		justify-self: flex-end;
		& span {
			display: inline-flex;
			align-items: center;
			justify-content: center;
			gap: rem(6);

			margin-left: rem(5);

			font-size: rem(24);
			text-align: center;

			background: linear-gradient(96deg, #21a7e1 0.03%, #0074a7 73.93%);
			background-clip: text;
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			@media (min-width: rem(576)) {
				font-size: rem(36);
				margin-left: rem(10);
			}
		}
	}
	&__containerMethods {
		label p {
			font-size: rem(18);
		}
	}
	&__boxMethods {
		img {
			padding-bottom: rem(10);
			border-bottom: 1px solid transparent;
			-o-border-image: linear-gradient(to right, #41a75b, #27703a);
			border-image: linear-gradient(to right, #41a75b, #27703a);
			border-image-slice: 1;
		}
	}
}

@media (min-width: rem(576)) {
	.finalizingThePucharse {
		&__boxCustomerDataMobile {
			&--first,
			&--second {
				grid-template-columns: 1fr 1fr;
			}
			&--third,
			&--fourth {
				grid-template-columns: 1fr;
			}
			&--third {
				grid-template-columns: 1fr;
			}
			&--second {
				.finalizingThePucharse__boxCustomerData-item:last-child {
					grid-column: 1/3;
				}
			}
		}
	}
}
@media (min-width: rem(639)) {
	.finalizingThePucharse {
		&__boxMethods {
			&-btn:nth-child(3) {
				grid-column: 1/3;
			}
			p {
				grid-column: 1/3;
			}
		}
	}
}

@media (min-width: rem(992)) {
	.finalizingThePucharse__containerMethods .finalizingThePucharse__boxMethods {
		grid-template-columns: repeat(3, 1fr) !important;
		.finalizingThePucharse__boxMethods-btn:nth-child(3) {
			grid-column: auto;
		}
	}
	.finalizingThePucharse__containerMethods label p {
		font-size: rem(25);
	}
}

@media (min-width: rem(1200)) {
	.finalizingThePucharse {
		&__boxCustomerData,
		&__containerCustomerData {
			gap: rem(40);
		}
		&__form {
			gap: rem(50);
		}
		&__formUp {
			flex-direction: row-reverse;
			gap: rem(50);
			&-left {
				gap: rem(50);
			}
		}
		&__boxCustomerData {
			gap: rem(20);
		}
		&__containerCustomerDataMobile {
			display: none;
		}
		&__boxCustomerData {
			flex-wrap: nowrap;
			&--delivery {
				gap: rem(40);
				& > div:nth-child(2) {
					display: grid;
					gap: rem(40);
				}
			}
			.finalizingThePucharse__boxCustomerData-item {
				width: 50%;
			}
			&:nth-child(3) {
				.finalizingThePucharse__boxCustomerData-item {
					width: 33%;
				}
			}
			&:last-of-type {
				.finalizingThePucharse__boxCustomerData-item {
					width: 100%;
				}
			}
			.finalizingThePucharse__boxCustomerData-checkbox {
				margin-top: 0;
			}
		}
	}
	.finalizingThePucharse__containerMethods {
		display: grid;
		grid-template-rows: auto 1fr;
		.finalizingThePucharse__boxMethods {
			height: 100%;
			& label {
				justify-content: center;
				gap: rem(20);
				height: 100%;
			}
		}
		.finalizingThePucharse__boxMethods h3 {
			display: flex;
			align-items: center;
			justify-content: center;

			margin: 0;
			height: 62px;
		}
		.finalizingThePucharse__boxMethods span {
			height: 36px;
		}
	}
}

@media (min-width: rem(1400)) {
	.finalizingThePucharse {
		&__boxCustomerData {
			gap: rem(40);
		}
	}
}
