@use '../../styles/colors' as *;
@use '../../styles/functions' as *;
@use '../../styles/components' as *;
@use '../../styles/variables' as *;

.boxImagePuzzle {
	margin-bottom: rem(20);
	& svg {
		display: none;
	}
	& img {
		border-radius: $borderRadius;
	}
}

@media (min-width: rem(992)) {
	.boxImagePuzzle {
		position: relative;
		z-index: 0;
		& svg {
			display: block;
			position: absolute;
			bottom: -17px;
			right: -17px;
			z-index: 10;
			transition: transform 0.3s;
			&:hover {
				transform: scale(0.9) translate(-17px, -17px);
			}
		}
	}
}
@media (min-width: rem(1200)) {
	.boxImagePuzzle {
		width: 50%;
		margin-bottom: 0;
		max-width: rem(833.5);
		& svg {
			bottom: -60px;
			right: -15px;
			width: rem(170);
			&:hover {
				transform: scale(0.9) translate(-17px, -25px);
			}
		}
	}
}
@media (min-width: rem(1400)) {
	.boxImagePuzzle {
		width: auto;
		& svg {
			bottom: -17px;
			right: -17px;
			width: auto;
			&:hover {
				transform: scale(0.9) translate(-17px, -17px);
			}
		}
	}
}
