@use '../../styles/colors' as *;
@use '../../styles/functions' as *;
.burgerBtn {
	padding: rem(10);
	margin-left: auto;
	background: none;
	transform: translateX(0);
	border: 1px solid transparent;
	cursor: pointer;
	z-index: 50;
	&:focus {
		outline: none;
		border: 1px solid $secondary-color;
		border-radius: 8px;
	}
}
@media (min-width: rem(640)) {
	.burgerBtn {
		display: none;
	}
}
